[submodule "src/components/react-styled-nhs"]
	path = src/components/react-styled-nhs
	url = https://github.com/charlie-g-cowan/react-styled-nhs.git
[submodule "src/ehr-template-processor"]
	path = src/ehr-template-processor
	url = https://github.com/charlie-g-cowan/ehr-template-processor.git
[submodule "src/ehr-template-react-generator"]
	path = src/ehr-template-react-generator
	url = https://github.com/charlie-g-cowan/ehr-template-react-generator.git
