[submodule "ehr-template-react-generator"]
	path = ehr-template-react-generator
	url = git@github.com:charlie-g-cowan/ehr-template-react-generator.git
[submodule "ehr-template-processor"]
	path = ehr-template-processor
	url = git@github.com:charlie-g-cowan/ehr-template-processor.git
